<ngrx-layout>

  <ngrx-side-nav [open]="showSidenav$ | async" (openMenu)="openSidenav()" (closeMenu)="closeSidenav()">

    <ngrx-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" routerLink="/home"
                   icon="home" hint="Home Dashboard" [open]="showSidenav$ | async">
      Home
    </ngrx-nav-item>

    <ngrx-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)" icon="https" [open]="showSidenav$ | async">
      Sign In
    </ngrx-nav-item>

    <ngrx-nav-item (navigate)="logout()" *ngIf="loggedIn$ | async" [open]="showSidenav$ | async">
      Sign Out
    </ngrx-nav-item>

  </ngrx-side-nav>

  <ngrx-header (openMenu)="openSidenav()" (closeMenu)="closeSidenav()" [open]="showSidenav$ | async">
    <ngrx-header-logo></ngrx-header-logo>
    <span class="header-fill"></span>
    <ngrx-user-profile *ngIf="loggedIn$ | async" [user]="loggedInUser$ | async"></ngrx-user-profile>
  </ngrx-header>

  <div class="outlet"><router-outlet></router-outlet></div>

</ngrx-layout>
